@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:400,700&display=swap');

/* CSS VARIABLES */
:root {
  --main-font-family: 'Barlow', sans-serif;
  --secondary-font-family: 'Barlow Condensed', sans-serif;
  --primary-red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  margin: 7rem 0 3rem 0;
  background-color: red;
}
.background-shape {
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 40vh;
  border-bottom-left-radius: 10rem;
  z-index: -1;
}
.logo img {
  width: 75px;
  height: 75px;
}
.top-nav {
  
}
ul {
  display: none;
}