@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Barlow:400&display=swap');

/* CSS VARIABLES */
:root {
  --main-font-family: 'Barlow', sans-serif;
  --secondary-font-family: 'Barlow Condensed', sans-serif;
  --primary-red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1, h2 {
  font-family: var(--secondary-font-family);
}
ul {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  margin: 3vw 10vw;
}

/* MOBILE STYLES */
.background-shape {
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 110vw;
  max-height: 70rem;
  border-bottom-left-radius: 5rem;
  z-index: -1;
}
.logo img {
  width: 30px;
  height: 30px;
}
main {
  display: flex;
  flex-direction: column;
}

.header-img img {
  width: 100%;
}
.content { 
  margin: 10vw;
}
.content h1 {
  color: var(--grayish-blue);
  font-family: var(--secondary-font-family);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 400;
  margin: 0;
}
.content h1 .highlight {
  padding: .25rem 1rem;
  background-color: var(--very-dark-blue);
  color: #fff;
  letter-spacing: .1rem;
  border-radius: 15px;
  margin-right: 1rem;
  font-weight: 700;
}
.content h2 {
  color: var(--very-dark-blue);
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  margin: 1.5rem 0;
  line-height: 4rem;
}
.content h3 {
  font-family: var(--main-font-family);
  font-size: 2rem;
  color: var(--dark-grayish-blue);
}
.demo {
  margin: 4rem 0;
}
.demo p {
  color: var(--grayish-blue);
  font-family: var(--secondary-font-family);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 400;
}
.demo p a {
  padding: 1.25rem 2rem;
  background-color: var(--primary-red);
  color: #fff;
  text-decoration: none;
  letter-spacing: .1rem;
  border-radius: 5px;
  margin-right: 1rem;
  font-weight: 700;
  opacity: 1;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--grayish-blue);
  text-align: center;
  margin: 5vw;
}
/* MOBILE MENU STYLES */
.top-nav .menu-toggle {
  position: absolute;
  top: 1;
  right: 1;
  z-index: 2;
  width: 40px;
  height: 40px;
  opacity: 0;
}
.top-nav .hamburger {
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger .lines {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--very-dark-blue);
  transition: all 0.4s ease;
}
.hamburger .lines:before,
.hamburger .lines:after {
  content: '';
  position: absolute;
  top: -5px;
  width: 100%;
  height: 2px;
  background: inherit;
  z-index: 1;
}
.hamburger .lines:after {
  top: 5px;
}
.menu-toggle:checked + .hamburger .lines {
  transform: rotate(135deg);
}
.menu-toggle:checked + .hamburger .lines:before,
.menu-toggle:checked + .hamburger .lines:after {
  top: 0;
  transform: rotate(90deg);
}
.top-nav .mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.top-nav .mobile-menu {
  width: 80%;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
}
.top-nav .mobile-menu ul {
  margin-top: 100px;
  padding: 1.5rem 2rem 0 2rem;
  text-align: center;
  background-color: white;
  list-style: none;
  border-radius: 5px;
  box-shadow: 2px 2px 12px hsl(230, 29%, 20%, .3);
}
.top-nav .mobile-menu ul li {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: var(--very-dark-blue);
}
.top-nav .mobile-menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--dark-grayish-blue);
  text-decoration: none;
  padding: 1rem 25vw;
}
.top-nav .mobile-menu ul li:last-child {
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  border-top: solid 1px var(--light-grayish-blue);
}
.top-nav .mobile-menu ul li:last-child a {
  color: var(--grayish-blue);
}
.top-nav .menu-toggle:checked ~ .mobile-menu-wrapper .mobile-menu {
  visibility: visible;
  opacity: 1;
}

@media all and (max-width: 370px){
  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .content h1 {
    letter-spacing: .2rem;
  }
  .demo {
    margin: 2rem 0;
  }
    .demo p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .demo p a {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 60%;
    text-align: center;
  }
}

@media all and (min-width: 700px) {
  .background-shape {
    width: 50%;
    height: 40vw;
  }
  .top-nav .hamburger, .top-nav .menu-toggle {
    display: none;
  }
  .top-nav .mobile-menu-wrapper {
    position: relative;

  }
  .top-nav .mobile-menu {
    visibility: visible;
    opacity: 1;
  }
  .top-nav .mobile-menu ul {
    margin-top: 0;
    padding: 1.5rem 2rem 0 2rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: flex;
  }
  .top-nav .mobile-menu ul li a {
    padding: 1rem 2rem;
  }
  .top-nav .mobile-menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .top-nav .mobile-menu ul li:last-child {
    padding: 0;
    margin: 0;
    border: none;
  }
  .dot {
    height: 5px;
    width: 5px;
    background-color: var(--grayish-blue);
    border-radius: 50%;
    display: inline-block;
    margin: 1.5rem 3rem;
  }
  main {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .background-shape {
    max-height: 500px;
  }
main .content {
  margin: 3vw 10vw;
}
.demo p a:hover {
  opacity: 0.75;
  transition: opacity 1s;
}
.demo p a:not( :hover ) {
  opacity: 1;
  transition: opacity 1s;
}

}
@media all and (min-width: 700px) and (max-width: 836px) {
  .content h1 {
    letter-spacing: .2rem;
  }
  .demo p {
    display: flex;
    flex-direction: column;
  }
  .demo p a {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 60%;
    text-align: center;
  }
  };
}