@import '../00-settings/_settings'
@import '../01-tools/_tools'

h1, h2
	font-family: $secondaryFontFamily

ul
	padding: 0
	margin: 0
header
	height: 7.5rem
	margin: 3vw 10vw
	@include flexBasic(space-between, center)

main
	display: flex
	flex-direction: column

footer
	color: $grayishBlue
	text-align: center
	margin: 5vw
	@include flexBasic(center, center)

@media all and (min-width: 700px)
	main
		flex-direction: row-reverse
		justify-content: space-between
		.content
			margin: 3vw 10vw