@import '../00-settings/_settings'
@import '../01-tools/_tools'

.background-shape
	background-color: $lightGrayishBlue
	position: absolute
	top: 0
	right: 0
	width: 50%
	height: 110vw
	max-height: 70rem
	border-bottom-left-radius: 5rem
	z-index: -1

.logo img
	width: 30px
	height: 30px

.header-img
	margin-top: 3vw

.header-img img
	width: 100%

.content
	margin: 5vw 0 0 7.5vw
	padding-right: 3vw
	display: flex
	flex-direction: column
	align-content: start

.highlight
	display: flex
	justify-content: center
	width: 7rem
	padding: .25rem 1rem
	background-color: $veryDarkBlue
	color: #fff
	letter-spacing: 0.1rem
	border-radius: 15px
	font-weight: 700
	margin-right: 1rem

.demo
	margin: 1rem 0
	display: flex
	align-items: center
	font-size: 1rem
	color: $grayishBlue
	font-family: $secondaryFontFamily
	text-transform: uppercase
	letter-spacing: 0.2rem
	line-height: 1
	font-weight: 400
	a
		display: flex
		justify-content: center
		padding: 1.25rem 1rem
		margin-right: 1rem
		background-color: $primaryRed
		color: #fff
		text-decoration: none
		border-radius: 5px
		font-weight: 700
		opacity: 1

.top-nav
	.menu-toggle
		position: absolute
		top: 1
		right: 1
		z-index: 2
		width: 40px
		height: 40px
		opacity: 0
	.hamburger
		z-index: 1
		width: 40px
		height: 40px
		padding: 1rem
		display: flex
		justify-content: center
		align-items: center

.hamburger .lines
	position: relative
	width: 100%
	height: 2px
	background: $veryDarkBlue
	transition: all 0.4s ease

.hamburger .lines:before, .hamburger .lines:after
	content: ''
	position: absolute
	top: -5px
	width: 100%
	height: 2px
	background: inherit
	z-index: 1

.hamburger .lines:after
	top: 5px

.menu-toggle:checked + .hamburger .lines
	transform: rotate(135deg)

.menu-toggle:checked + .hamburger .lines:before, .menu-toggle:checked + .hamburger .lines:after
	top: 0
	transform: rotate(90deg)

.top-nav .mobile-menu-wrapper
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: flex
	justify-content: center

.top-nav .mobile-menu
	width: 80%
	opacity: 0
	pointer-events: none
	transition: opacity 0.4s ease

.top-nav .mobile-menu ul
	margin-top: 100px
	padding: 1.5rem 2rem 0 2rem
	text-align: center
	background-color: white
	list-style: none
	border-radius: 5px
	box-shadow: 2px 2px 12px hsl(230, 29%, 20%, 0.3)

.top-nav .mobile-menu ul li
	font-family: $secondaryFontFamily
	font-weight: 700
	font-size: 1.2rem
	letter-spacing: 0.1rem
	text-transform: uppercase

.top-nav .mobile-menu ul li a
	display: block
	width: 100%
	height: 100%
	color: $darkGrayishBlue
	text-decoration: none
	padding: 1rem 25vw

.top-nav .mobile-menu ul li:last-child
	padding: 1.5rem 0
	margin-top: 1.5rem
	border-top: solid 1px $lightGrayishBlue

.top-nav .mobile-menu ul li:last-child a
	color: $grayishBlue

.top-nav .menu-toggle:checked ~ .mobile-menu-wrapper .mobile-menu
	visibility: visible
	opacity: 1

@include for-phone-up
	.highlight
		margin-right: 1.5rem
		background-color: $veryDarkBlue
		color: #fff

	.demo
		flex-direction: row
		p
			font-size: 1.05rem
		a
			margin-right: 1rem

@include for-tablet-portrait-up
	.background-shape
		width: 45vw
		height: 30vw
		max-height: 350px

	.content
		margin-left: 10vw

	.demo
		color: $grayishBlue
		font-family: $secondaryFontFamily
		font-size: 1rem
		text-transform: uppercase
		letter-spacing: 0.2rem
		line-height: 1
		font-weight: 400
		a
			padding: 1.25rem 1rem
			background-color: $primaryRed
			color: #fff
			text-decoration: none
			letter-spacing: 0.1rem
			border-radius: 5px
			font-weight: 700
			opacity: 1

	.demo p a:hover
		opacity: 0.75
		transition: opacity 1s

	.demo p a:not(:hover)
		opacity: 1
		transition: opacity 1s

@include for-tablet-landscape-up
	.content
		margin-left: 10vw
		padding-right: 5rem

	.top-nav .hamburger, .top-nav .menu-toggle
		display: none

	.top-nav
		.mobile-menu-wrapper
			position: relative
		.mobile-menu
			opacity: 1
			pointer-events: all
			ul
				margin-top: 0
				padding: 0 2rem
				list-style: none
				background-color: transparent
				border-radius: 0
				box-shadow: none
				display: flex
				li a
					padding: 1rem 2rem
					color: $darkGrayishBlue
					text-decoration: none
				li a:hover
					cursor: pointer
					text-decoration: underline
				li:last-child
					padding: 0 2rem
					margin: 0 2rem
					border: none
					position: relative

	.top-nav .mobile-menu ul li:last-child::before
		content: ''
		height: 5px
		width: 5px
		background-color: $grayishBlue
		border-radius: 50%
		display: inline-block
		position: absolute
		left: 0
		margin-top: 1rem

@include for-desktop-up
	.top-nav .mobile-menu ul li
		font-size: 1.35rem

	.top-nav .mobile-menu ul li:last-child::before
		margin-top: 1.35rem

	.content
		margin-left: 10vw
		padding-right: 5rem

@include for-big-desktop-up
	.top-nav .mobile-menu ul li
		font-size: 1.5rem

	.top-nav .mobile-menu ul li:last-child::before
		margin-top: 1.5rem

	.highlight
		padding: .75rem 4rem

	.demo
		p
			font-size: 2rem
			a
				padding: 1rem 2rem